*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    justify-content: flex-end;
}

.quiz,
.end {
    display: none;
}