*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#start,
#end {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

body {
    background-color: lightblue;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    margin-left: 10px;
}

.timer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

#quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coding-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 0px 0px;
    
}

.btn {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.2;
}

.btn:hover {
    background-color: black;
    color: white;

}

#next-btn {
    margin: 20px 0px 0px 0px;
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.form {
    display: flex;
    justify-content: flex-end;
}